@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
   
  
  }
  
  body {
    margin: 0;
    background: #F7F8FD;
    display: flex;
    place-items: center;
    width: 100vw;
    margin-left: 80px;
  }
  .NAV{
    color: white;
    background: radial-gradient(166.82% 166.82% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
  }
  .BTN{
    border-radius: 10px;
    background: #AD1FEA;
  }
  .MainDiv > div{
    border: 1px solid red;
    width: 230px;
    height: 200px;   
  }
  .Navbar{    
    border: 1px solid green;
    background-color: #373F68;
    color: white;
  
  }
  .FEED{
    display: flex;
    flex-direction: column;
    
  }